<section class="upper">
    <p class="heading">EDASTAVEJLEKHAN.COM </p>
    <div class="bt">
        <div class="left">
            <img src="/img/logo.png" alt="" width="300px" height="200px" style="border-radius:20px;">
        </div>
        <div class="middle">
            <p id="inborder">इस वेबसाईट के माध्यम से उप पंजीयन कार्यालय में पंचीकृत होने वाले सभी प्रकार के 
                <br>
                दस्तावेज किफायती दर पर ऑनलाइन पीडीएफ फॉर्मेट में प्राप्त करे	</p>
        </div>
        <div class="right">
            <a href="/login" style="text-decoration: none;">
                <p class="ph"><span class="img"><img src="/img/logout.png"
                            alt="admin"></span>लॉग इन </p>
            </a>
            <p class="ph"><span class="img"><img src="/img/whatsapp 3.png" alt=""></span>9691306668 </p>
            <p class="ph"><span class="img"><img src="/img/phone-call 2.png" alt=""></span>9691306668</p>
            <a href="/en/admin/user" style="text-decoration: none;">
                <p class="ph"><span class="img"></span>English </p>
            </a>
        </div>
    </div>
</section>

<section class="navbar">
    <!-- <p>मुख्य </p> -->
    <button type="button" class="btn bg-white" style="width: 150px; position: relative; top: 10px;">
        <a style="text-decoration: none; color: black" href="/">मुख्य पृष्ठ(Home)</a>
    </button>
    <!-- <p> हमारे</p> -->
    <button type="button" class="btn bg-white" style="width: 150px; position: relative; top: 10px;">
        <a style="text-decoration: none; color: black" href="/about">हमारे बारे में(About Us)</a>
    </button>


    <!-- <p> महत्वपूर्ण</p> -->
    <button type="button" class="btn bg-white" style="width: 150px; position: relative; top: 10px;">
        <a style="text-decoration: none; color: black" href="/important">सूचना (NOTICE)</a>
    </button>
    <!-- वक्रय क्रय हतेुप्रॉपटी खोज -->
    <button type="button" class="btn bg-white" style="width: 150px; position: relative; top: 10px;">
        <a style="text-decoration: none; color: black" href="/vigyaapn">क्रय-विक्रय हेतु भूमि खोजे(Search Land for Sale Purchase)</a>
    </button>
    <!-- <p>संपर्क</p> -->
    <button type="button" class="btn bg-white" style="width: 150px; position: relative; top: 10px;">
        <a style="text-decoration: none; color: black" href="/img/वेबसाइट प्राइस.pdf">Pricing</a>
    </button>
    <!-- <p>पालिसी</p> -->
    <button type="button" class="btn bg-white" style="width: 150px; position: relative; top: 10px;">
        <a style="text-decoration: none; color: black" href="/img/return and refund policy.pdf">REFUND POLICY</a>
    </button>

    <button type="button" class="btn bg-white" style="width: 150px; position: relative; top: 10px;">
        <a style="text-decoration: none; color: black" href="/img/privacy policy.pdf">PRIVACY POLICY</a>
    </button>

    <button type="button" class="btn bg-white" style="width: 150px; position: relative; top: 10px;">
        <a style="text-decoration: none; color: black" href="/img/terms and condition.pdf">TERMS AND CONDITION</a>
    </button>
</section>