<footer style="background-color: #2F2E41; padding-top: 35px;padding-bottom: 35px;">
    <p style="text-align: center;color: white;font-size: 14;">RDS SERVICE AGENCY </p>
    <p style="text-align: center;color: white;font-size: 14;"><strong>ADDRESS </strong> :- Ward No.7, Mohbhatta road, Bemetara |<a href="https://edastavejlekhan.com/" style="color: aqua; text-decoration: none;">edastavejlekhan.com</a></p>
    <p style="text-align: center;color: white;font-size: 14;"><strong>Help Line No. :-</strong>969 130 6668/ <strong>Email Id: -</strong> edsserviceagency@edastavejlekhan.com</p>
    <p style="text-align: center;color: white;font-size: 14;">copyright &#169 2024</p>

</footer>