<%- include("partials/en_header"); -%>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="background-color: #2F2E41;">
                                <h6 class="m-0" style="color: #fff; font-weight: 700;">पक्षकार Buttons</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <form action="/en/admin/pak/button" method="post">
                                   
                                    <div class="form-group">
                                        <label for="exampleInputPassword1" style="color: #2F2E41;"> विलेख चुने<sup style="color: red;">*</sup></label>

                                        <select name="विलेख" id="exampleInputPassword1" required class="form-control" aria-placeholder="Select Status">
                                            <option value="विलेख चुने" hidden  selected style="color: grey;">विलेख चुने</option>
                                            <% for(let i=0;i<parray.length;i++){ %>
                                                   <option value="<%=parray[i].name%>"><%=parray[i].name%></option>
                                            <%}%>
                                        </select>
                                    </div>
                                    <% if(rea_valid1 == 1){ %>
                                        <div class="mb-3">
                                            <label for="exampleInputPassword2" class="form-label">पक्षकार Button<sup style="color: red;">*</sup></label>
                                            <input type="text" class="form-control input is-invalid" name="name" id="exampleInputPassword2" aria-describedby="validationServer04Feedback" required>
                                            <div id="validationServer04Feedback" class="invalid-feedback">
                                                पक्षकार Button  is already exist
                                            </div>
                                        </div>
                                    <% } %>    
                                    <% if(rea_valid1 == 0){ %>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" style="color: #2F2E41;">पक्षकार Button<sup style="color: red;">*</sup></label>
                                        <input type="text" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
                                    </div>
                                    <% } %>   
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" style="color: #2F2E41;">Required<sup style="color: red;">*</sup></label>
                                        <select class="form-control " name="minimum" aria-label="Default select example">
                                            <option value="हां">हां</option>
                                            <option value="ना">ना</option>
                                        </select>
                                    </div>  
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" style="color: #2F2E41;">Minimun Number<sup style="color: red;">*</sup></label>
                                        <input type="number" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="partition">
                                    </div> 

                                    <!--Image upload-->
                                    <button type="submit" class="btn btn-primary" style="background:#2F2E41; color: #fff; font-weight: 700;">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
         
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function fun(arr,val){
            let sub1=document.getElementById("sub1");
            let text=`<option  value="दस्तावेज का प्रकार"  hidden selected>दस्तावेज का प्रकार</option> `
            for(let i=0;i<arr.length;i++){
                if(arr[i].name==val){
                    for(let k=0;k<arr[i].sub.length;k++){
                            text=text+`<option  value="${arr[i].sub[k].name}">${arr[i].sub[k].name}</option> `
                        }
                    sub1.innerHTML=text;
                }
            }
        }
    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>