<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page 2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body>
    <section class="upper">
        <div class="bt row">
            <div class="left col-sm-3">
                <img src="/img/logo.jpeg" alt="">
            </div>
            <div class="middle col-sm-6">
                <p class="heading">CG-EREGISTRY</p>
                <p id="inborder">सी की वेबसाईट के माध्यम से उप पंजीयन कार्यालय में पंचीकृत होने वाले सभी प्रकार के
                    दस्तावेज
                    किफायती दर पर ऑनलाइन प्रिंट/पा प्राप्त करे</p>
                <p id="b">यहाँ पर मेनू पर सुचना डिस्प्ले करना है जो ब्लिंग होता रहेगा</p>
            </div>
            <div class="right col-sm-3">
                <p class="log"><span class="img"><img src="/img/logout.png" alt=""></span>लॉग आउट</p>
                <p class="ph"><span class="img"><img src="/img/whatsapp 3.png" alt=""></span>9039791530 </p>
                <p class="ph"><span class="img"><img src="/img/phone-call (1) 2.png" alt=""></span>9039791530</p>
            </div>
        </div>
    </section>
    <section>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid mid">
                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse nav-bar" id="navbarNav">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link " href="#">मुख्य</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> हमारे</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ऑनलाइन</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">नागरिक</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">महत्वपूर्ण</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">लॉग इन पंजीयन करे</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">संपर्क</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">पालिसी</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section class="bottom">
        <div class="row">
            <div class="col-sm-4 define">
                <ul>
                    <a href="/converter" style="text-decoration: none;">
                        <li>Converter (रकबा इकाई हेतु )</li>
                    </a>
                    <li> दस्तावेज बनाने की प्रक्रिया pdf</li>
                    <li>नया आवेदन</li>
                    <li>आधार-पैन कार्ड अपलोड करे</li>
                    <li> पूर्व बनाये दस्तावेज के डाटा से नए दस्तावे
                        बनाने हेतु क्लिक करे</li>
                    <li>बी 1, पी 2, फसल विवरण हेतु भुइया लिंक</li>
                    <li> नक्शा देखने हेतु bhunaksha लिंक
                        रजिस्ट्री कार्यालय में अपॉइंटमेंट
                         (टोकन) लेने</li>
                    <li>पंजीकृत दस्तावेज अपलोड करे</li>
                </ul>
            </div>
            <div class="col-sm-4 application app1">
                <h4>Pending application</h4>
            </div>
            <div class="col-sm-4 application app2">
                <h4>Complete application</h4>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>