<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<style>
    .custom-form {
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 5rem;
    }

    @keyframes moveText {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100%);
        }
    }

    #b {
        animation: moveText 10s linear infinite;
    }
</style>

<style>
    .container1 {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .left1{
        background-color: #2F2E41;
        color: white;
        width: 20%; 
        padding: 20px;
        border: 1px solid #2F2E41;
    }
    .right1{
        background-color: #2F2E41;
        width: 20%; 
        color: white;
        padding: 20px;
        border: 1px solid #2F2E41;
    }
    .center1{
        background-color: #fff;
        width: 50%; 
        color: #2F2E41;
        padding: 20px;
    }
    @keyframes blink {
    50% {
        color: transparent;
    }
    }

    .blinking {
        animation: blink 0.8s infinite;
}
</style>

<body>
    <%- include("partials/body"); -%>
    <section>
        <div class="container1">
            <div class="left1">
                <h1 style="font-size: 18px;text-align: center;font-weight: 700;">
                    ऑनलाइन सेवाये
                </h1>
                <h1 style="font-size: 18px;text-align: center;font-weight: 700;">
                    (ONLINE SERVICES)
                </h1>
                <br>
                <ul style="list-style: disc;">
                    <li><a  style="text-decoration: none;color: #fff;" href="/login">दस्तावेज बनाये (DEED DRAFTING)</a></li>
                    <br>
                    <li><a style="text-decoration: none;color: #fff;" href="/condition">पंजीयन दस्तावेज पता लगाये (KNOW YOUR DEED)</a></li>
                    <br>
                    <li><a  style="text-decoration: none;color: #fff;" href="/login">बाजार मूल्य  गणना (GUIDELINE RATE CALCULATION)</a></li>
                    <br>
                    <li><a style="text-decoration: none;color: #fff;"  href="/login">स्टाम्प और पंजीयन शुल्क गणना (CALCULATION OF STAMP & FEE)</a>
                    </li>
                    <br>
                </ul>
            </div>
            <div class="center1">
                <h1 style="font-size: 18px;text-align: center;font-weight: 700;">
                    हमारी सेवाए (OUR SERVICES)
                </h1>
                <br>
                <ul id="list"  style="list-style: none;">
                    <li style="display: none;"><a style="text-decoration: none;color: #2F2E41;font-weight: 600;" href="/">1-	छत्तीसगढ़ राज्य अंतर्गत पंजीयन कार्यालय में पंजीकृत होने वाले दस्तावेज की ड्राफ्टिंग</a></li>
                    <br>
                    <li style="display: none;"><a  style="text-decoration: none;color: #2F2E41;font-weight: 600;" href="/">2-	जमीन के क्रय विक्रय हेतु निःशुल्क विज्ञापन</a></li>
                    <br>
                    <li style="display: none;"><a style="text-decoration: none;color: #2F2E41;font-weight: 600;"  href="/">3-	संपत्ति के बाजार मूल्य (सरकारी कीमत) की गणना</a>
                    </li>
                    <br>
                    <li style="display: none;"><a  style="text-decoration: none;color: #2F2E41;font-weight: 600;" href="/">4-	पंजीकृत होने वाले दस्तावेज के बारे में जाने</a></li>
                    <br>
                    <li style="display: none;"><a  style="text-decoration: none;color: #2F2E41;font-weight: 600;" href="/">5-	पंजीयन खर्च (स्टाम्प और पंजीयन शुल्क) की गणना े</a></li>
                    <br>
                    <li style="display: none;"><a  style="text-decoration: none;color: #2F2E41;font-weight: 600;" href="/">6-	गाइड लाइन  (सरकारी कीमत) पता करना े</a></li>
                    <br>
                    <li style="display: none;"><a  style="text-decoration: none;color: #2F2E41;font-weight: 600;" href="/">7-	दस्तावेज के पंजीयन सम्बन्धी जानकारी उपलब्ध करना</a></li>
                    <br>
                    <li style="display: none;"><a  style="text-decoration: none;color: #2F2E41;font-weight: 600;" href="/">8-	पंजीयन कार्यालय में उपयोग होने वाले प्रारूप के नमूने प्राप्त करे</a></li>
                </ul>
            </div>
            <div class="right1">
                <h1 style="font-size: 18px;text-align: center;font-weight: 700;">
                    नागरिक सेवाये
                </h1>
                <h1 style="font-size: 18px;text-align: center;font-weight: 700;">
                    (PUBLIC SERVICES)
                </h1>
                <br>
                <ul style="list-style: disc;">
                    <li><a style="text-decoration: none;color: #fff;" href="/">बाजार मूल्य (भूमि/संरचना/मकान/वृक्ष) (KNOW CIRCLE RATE)</a></li>
                    <br>
                    <li><a  style="text-decoration: none;color: #fff;" href="/">दस्तावेजवार स्टाम्प और पंजीयन शुल्क दर (DEEDWISE STAMP & FEE RATE)</a></li>
                    <br>
                    <li><a style="text-decoration: none;color: #fff;"  href="/login">भूमि क्रय-विक्रय विज्ञापन (FREE ADS LAND SALE-PURCHASE)</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <section>


        <div class="lobutton">

            <a href="/vigyaapn/upload" style="text-decoration: none;">
                <div class="btnl1">जमीन की खरीदी / बिक्री हेतु निशुल्क विज्ञापन</div>
            </a>
        </div>
        <br>
        <div class="lobutton">
            <a href="/dastavej" style="text-decoration: none;">
                <div class="btnl2">दस्तावेज लेखक / स्टाम्प वेंडर/अधिवक्ता/जमीन डीलर्स पंजीयन करे</div>
            </a>
        </div>
        <br><br>
    </section>

    <%- include("partials/footer"); -%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
        
    <script>
        document.addEventListener("DOMContentLoaded", function() {
    const listItems = document.querySelectorAll("#list li");
    console.log(listItems)

    // Function to show list items one by one
    function showItemsOneByOne(index) {
        if (index < listItems.length) {
            listItems[index].style.display = "block";
            setTimeout(function() {
                showItemsOneByOne(index + 1);
            }, 800); // Adjust timing as needed
        } else {
            console.log("kjd")
            startBlinking();
        }
    }

    // Function to start blinking effect
    function startBlinking() {
        setInterval(function() {
            
            listItems.forEach(function(item) {
                item.classList.toggle("blinking");
            });
        }, 800); // Adjust blinking speed as needed
    }

    // Start showing list items one by one
    showItemsOneByOne(0);
});

    </script>

</body>

</html>