<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>

<style>
    .custom-form {
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 5rem;
    }

    @keyframes moveText {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100%);
        }
    }

    #b {
        animation: moveText 10s linear infinite;
    }
</style>

<body>
    <section class="upper">
        <p class="heading">CG-EREGISTRY</p>
        <div class="bt">
            <div class="left">
            </div>
            <div class="middle">
                <p id="inborder">सी की वेबसाईट के माध्यम से उप पंजीयन कार्यालय में पंचीकृत होने वाले सभी प्रकार के
                    दस्तावेज<br>
                    किफायती दर पर ऑनलाइन प्रिंट/पा प्राप्त करे</p>
            </div>
            <div class="right">
                <a href="/login" style="text-decoration: none;">
                    <p class="ph"><span class="img"><img src="/img/logout.png"
                                alt="admin"></span>लॉग इन </p>
                </a>
                <p class="ph"><span class="img"><img src="/img/whatsapp 3.png" alt=""></span>9039791530 </p>
                <p class="ph"><span class="img"><img src="/img/phone-call 2.png" alt=""></span>9039791530</p>
            </div>
        </div>
    </section>
    <div>
        <p id="b" style="animation: moveText 10s linear infinite;">यहाँ पर मेनू पर सुचना डिस्प्ले करना है जो ब्लिंग होता
            रहेगा</p>
    </div>
    <section class="navbar">
        <!-- <p>मुख्य </p> -->
        <button type="button" class="btn bg-white" style="width: 150px; position: relative; top: 10px;">
            <a style="text-decoration: none; color: black" href="/">मुख्य</a>
        </button>
        <!-- <p> हमारे</p> -->
        <button type="button" class="btn bg-white" style="width: 150px; position: relative; top: 10px;">
            <a style="text-decoration: none; color: black" href="./about.ejs">हमारे</a>
        </button>
        <!-- <p>ऑनलाइन</p> -->
        <div class="dropdown">
            <a class="btn bg-white dropdown-toggle" style="width: 150px;" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                ऑनलाइन
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/condition">पजं ीयन डकये जानेवाले दस्तावेज पता करें</a></li>
                <li><a class="dropdown-item" href="/login">जमीन की सरकारी कीमत बाजार म ल्ू य क ी ग र् न ा</a></li>
                <li><a class="dropdown-item" href="/login">रडजस्री खचा (स्टाम्प, फीस , सेवा श ल्ु क ) क ी ग र् न ा</a></li>
                <li><a class="dropdown-item" href="/login">दस्तावेज तैयार करे</a></li>
                <li><a class="dropdown-item" href="/login">प वू ा क े द स् त ा व े ज स च ा क र े</a></li>
            </ul>
        </div>
        <!-- <p> नागरिक</p> -->
        <div class="dropdown">
            <a class="btn bg-white dropdown-toggle" style="width: 150px;" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                नागरिक
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">ज म ी न / म क ा न / व क्षृ ों आ ड द क े ड न ध ा ा र र त द र क ी ज
                        ा न क ा र ी</a></li>
                <li><a class="dropdown-item" href="#">स्टाम्प, पडजयन और सेवा शल्ु क की शासन द्वारा डनधााररत दर की
                        जानकारी</a></li>
                <li><a class="dropdown-item" href="/vigyaapn/upload">जमीन की खरीदी/डबक्री डवज्ञापन</a></li>
                <li><a class="dropdown-item" href="/nagrikSevaye">दस्तावेज लेखक/स्टाम्प वेंिर/अडधवक्ता/जमीन िीलसा सपं का</a></li>
            </ul>
        </div>
        <!-- <p> महत्वपूर्ण</p> -->
        <button type="button" class="btn bg-white" style="width: 150px; position: relative; top: 10px;">
            <a style="text-decoration: none; color: black" href="/important">महत्वपूर्ण</a>
        </button>
        <!-- वक्रय क्रय हतेुप्रॉपटी खोज -->
        <button type="button" class="btn bg-white" style="width: 150px; position: relative; top: 10px;">
            <a style="text-decoration: none; color: black" href="/vigyaapn">वक्रय क्रय हतेु प्रॉपटी खोज</a>
        </button>
        <!-- <p>संपर्क</p> -->
        <button type="button" class="btn bg-white" style="width: 150px; position: relative; top: 10px;">
            <a style="text-decoration: none; color: black" href="">संपर्क</a>
        </button>
        <!-- <p>पालिसी</p> -->
        <button type="button" class="btn bg-white" style="width: 150px; position: relative; top: 10px;">
            <a style="text-decoration: none; color: black" href="">पालिसी</a>
        </button>
    </section>

    <section class="bottom">
        <br>
        <br>
        <br>
        <div id="form" >
            <form action="/login" method="post">
                <% if(login_valid == 0 || login_valid == 2){ %>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email *</label>
                  <input   type="email" class="form-control input " id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
                </div>
                <% } %> 
                <% if(login_valid == 1){ %>
                <div class="mb-3">
                  <label for="validationCustomUsername" class="form-label">Email *</label>
                  <input type="email" class="form-control input is-invalid" name="email" id="validationCustomUsername" aria-describedby="validationServer03Feedback" required>
                  <div id="validationServer03Feedback" class="invalid-feedback">
                    User is not found.
                  </div>
                </div>
                <% } %> 
                <% if(login_valid == 0 || login_valid == 1){ %>
                    <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password *</label>
                    <input type="password" class="form-control input" id="exampleInputPassword1" name="password" required>
                    </div>
                <% } %> 
                <% if(login_valid == 2){ %>
                    <div class="mb-3">
                        <label for="exampleInputPassword2" class="form-label">Password *</label>
                        <input type="password" class="form-control input is-invalid" name="password" id="exampleInputPassword2" aria-describedby="validationServer04Feedback" required>
                        <div id="validationServer04Feedback" class="invalid-feedback">
                          Incorrect Password.
                        </div>
                      </div>
                <% } %> 
                <div style="display: flex;justify-content: space-between;">
                    <div>
                        <button type="submit" class="btn btn-lg" style="background-color: #2F2E41;color: white; border-radius: 20px;">Login</button>
                        <button class="btn btn-light btn-lg"><a href="/register" style="text-decoration: none;color: #2F2E41;">Register</a></button>
                    </div>
                    <div style="padding-top: 10px;">
                        <a href="/forgot" style="text-decoration: none; color: #2F2E41;font-weight: 700;">Forgot Password?</a>
                    </div>

                </div>
            </form>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>