<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>

<body>
    <section class="upper">
        <p class="heading">CG-EREGISTRY</p>
        <div class="bt">
            <div class="left">
            </div>
            <div class="middle">
                <p id="inborder">सी की वेबसाईट के माध्यम से उप पंजीयन कार्यालय में पंचीकृत होने वाले सभी प्रकार के
                    दस्तावेज<br>
                    किफायती दर पर ऑनलाइन प्रिंट/पा प्राप्त करे</p>
                <p id="b">यहाँ पर मेनू पर सुचना डिस्प्ले करना है जो ब्लिंग होता रहेगा</p>
            </div>
            <div class="right">
                <p class="ph"><span class="img"><img src="/img/whatsapp 3.png" alt=""></span>9039791530 </p>
                <p class="ph"><span class="img"><img src="/img/phone-call 2.png" alt=""></span>9039791530</p>
            </div>
        </div>
    </section>
    <section class="navbar">
        <p>मुख्य </p>
        <p>हमारे</p>
        <p>ऑनलाइन</p>
        <p>नागरिक</p>
        <p>महत्वपूर्ण</p>
        <p>संपर्क</p>
        <p>पालिसी</p>
    </section>
    <section class="bottom">
      <br>
      <br>
      <br>
      <div id="form">
        <form action="/register_pro" method="post">
            <div class="mb-3">
              <label for="exampleInputFname" class="form-label">Name *</label>
              <input type="text" class="form-control input" id="exampleInputFname" aria-describedby="emailHelp" name="name" required>
            </div>

            <div class="mb-3">
              <label for="exampleInputFname" class="form-label">Position *</label>
              <select name="Position" class="form-control input" id="exampleInputFname" aria-describedby="emailHelp"  required>
                <option value="दस्तावेज लेखक">दस्तावेज लेखक</option>
                <option value="स्टाम्प वेंडर"> स्टाम्प वेंडर</option>
                <option value="अधिवक्ता">अधिवक्ता</option>
                <option value="जमीन डीलर्स">जमीन डीलर्स</option>
            </select>
            </div>

            <% if(Pregister_valid == 0 || Pregister_valid == 3 || Pregister_valid == 2){ %>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email *</label>
              <input type="email" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
            </div>
            <% } %> 
            <% if(Pregister_valid == 1){ %>
            <div class="mb-3">
              <label for="validationCustomUsername" class="form-label">Email *</label>
              <input type="email" class="form-control input is-invalid" name="email" id="validationCustomUsername" aria-describedby="validationServer03Feedback" required>
              <div id="validationServer03Feedback" class="invalid-feedback">
                Email is already registered.
              </div>
            </div>
            <% } %> 
            <div class="mb-3">
                <label for="exampleInputFname" class="form-label">Phone *</label>
                <input type="number" class="form-control input" id="exampleInputFname" aria-describedby="emailHelp" name="phone" required>
            </div>
            <% if(Pregister_valid == 0 || Pregister_valid == 1 || Pregister_valid == 3){ %>
                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password *</label>
                <input type="password" class="form-control input" id="exampleInputPassword1" name="password" required>
                </div>
            <% } %> 
            <% if(Pregister_valid == 2){ %>
                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Password *</label>
                    <input type="password" class="form-control input is-invalid" name="password" id="exampleInputPassword2" aria-describedby="validationServer04Feedback" required>
                    <div id="validationServer04Feedback" class="invalid-feedback">
                      Password must be 8 character long.
                    </div>
                  </div>
            <% } %> 

            <% if(Pregister_valid == 0 || Pregister_valid == 1 || Pregister_valid == 2){ %>
            <div class="mb-3">
              <label for="exampleInputPassword2" class="form-label">Confirm Password *</label>
              <input type="password" class="form-control input" id="exampleInputPassword2" name="Conform" required>
            </div>
            <% } %> 

            <% if(Pregister_valid == 3){ %>
            <div class="mb-3">
              <label for="exampleInputPassword2" class="form-label">Conform Password *</label>
              <input type="password" class="form-control input is-invalid" name="Conform" id="exampleInputPassword2" aria-describedby="validationServer04Feedback" required>
              <div id="validationServer04Feedback" class="invalid-feedback">
                Conform Password and Password must be same.
              </div>
            </div>
            <% } %> 
            <button type="submit" class="btn btn-lg" style="background-color: #2F2E41;color: white;">Register</button>
            <button class="btn btn-light btn-lg"><a style="text-decoration: none;color: #2F2E41;" href="/login">Login</a></button>
            <br>
            <a href="/register" style="text-decoration: none; color: #2F2E41;">Register as Public</a>
        </form>
      </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>




<br>