<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page 3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style3.css">
</head>

<body>
    <section class="upper">
        <div class="bt row">
            <div class="left col-sm-3">
                <img src="/img/logo.jpeg" alt="">
            </div>
            <div class="middle col-sm-6">
                <p class="heading">CG-EREGISTRY</p>
                <p id="inborder">सी की वेबसाईट के माध्यम से उप पंजीयन कार्यालय में पंचीकृत होने वाले सभी प्रकार के
                    दस्तावेज
                    किफायती दर पर ऑनलाइन प्रिंट/पा प्राप्त करे</p>
                <p id="b">यहाँ पर मेनू पर सुचना डिस्प्ले करना है जो ब्लिंग होता रहेगा</p>
            </div>
            <div class="right col-sm-3">
                <p class="log"><span class="img"><img src="/img/logout.png" alt=""></span>लॉग आउट</p>
                <p class="ph"><span class="img"><img src="/img/whatsapp 3.png" alt=""></span>9039791530 </p>
                <p class="ph"><span class="img"><img src="/img/phone-call (1) 2.png" alt=""></span>9039791530</p>
            </div>
        </div>
    </section>
    <section>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid mid">
                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse nav-bar" id="navbarNav">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link " href="#">मुख्य</a>
                        </li>
                        <br>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> हमारे</a>
                        </li>
                        <br>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ऑनलाइन</a>
                        </li>
                        <br>
                        <li class="nav-item">
                            <a class="nav-link" href="#">नागरिक</a>
                        </li>
                        <br>
                        <li class="nav-item">
                            <a class="nav-link" href="#">महत्वपूर्ण</a>
                        </li>
                        <br>
                        <li class="nav-item">
                            <a class="nav-link" href="#">लॉग इन पंजीयन करे</a>
                        </li>
                        <br>
                        <li class="nav-item">
                            <a class="nav-link" href="#">संपर्क</a>
                        </li>
                        <br>
                        <li class="nav-item">
                            <a class="nav-link" href="#">पालिसी</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section class="bottom">
        <div class="row">
            <div class="col-sm-3 define">
                <ul>
                    <a style="text-decoration: none;" href="/new">
                        <li>दस्तावेज का विवरण
                        </li>
                    </a>
                    <br>
                    <li> संपत्ति का विवरण भरे
                    </li>
                    <br>
                    <li>संपत्ति का बाजार मूल्य जाँच करे
                    </li>
                    <br>
                    <li>संपत्ति का चौहद्दी एवं अन्य विवरण भरे
                    </li>
                    <br>
                    <li> स्टाम्प शुल्क और पंजियन शुल्क गणना
                    </li>
                    <br>
                    <a href="/pakashkar" style="text-decoration: none;">
                        <li>पक्षकार का विवरण
                        </li>
                    </a>
                    <br>
                    <li> दस्तावेज के आतंरिक स्वरुप चुने या स्वयं तैयार करे
                    </li>
                    <br>
                    <li>गवाह का विवरण
                    </li>
                    <br>
                    <li>दस्तावेज उत्पन्न कर प्रिंट प्रीव्यू देखे एडिट करे/सबमिट करे/डाउनलोड करे/मेल-whatsapp करे
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">
                <form action="/templete" method="post">
                    <div class="form">
    
                        <!-- दस्तावेज का विवरण -->
                        <div>
                            <p id="hea">Templete </p>
                        </div>
                        <div class="mb-5">
                            <label for="inputRemarks" class="col-sm-2 col-form-label">Templete चुने</label>
                            <% var uni=unit1; %>
                            <select required class="form-select inputName" onchange="fun(<%= JSON.stringify(uni) %>,this.value)" name="name"  aria-label="Default select example">
                                <option value="Templete चुने" hidden  selected style="color: grey;">Templete चुने</option>
                              <% for(let i=0;i<unit1.length;i++){ %>
                                    <option  value="<%=unit1[i].name%>" ><%=unit1[i].name%></option>
                               <%} %>
                               <option  value="other" >Other</option>

                            </select>                   
                         </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-5">
                                    <label>Templete Description </label>
                                    <textarea name="Description" style="padding: 20px;text-align: justify;" class="inputName" cols="102" rows="30" id="Description" >

                                    </textarea>
                                </div>
                            </div>
                          
                        </div>
                        <div class="submit">
                                <button type="submit" class="m-5 submitbtn">Save and next</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script>
        function fun(arr,val){
            let Description=document.getElementById("Description");
            if(val=="other"){
                Description.value="";
            }
            else{
                for(let i=0;i<arr.length;i++){
                    if(arr[i].name==val){
                        Description.value=arr[i].description;
                        break;
                    }
                }
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>

