body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    margin: 0;
}

.heading {
    text-align: center;
    font-size: 36px;
    margin-top: 47px;
}
.bt {
    display: flex;
    margin-top: 22px;
    margin-left: 50px;
    margin-bottom: 75px;
    justify-content: space-around;
    align-items: center;
}

.left {
    width: 252px;
    height: 170px;
    background-color: #2F2E41;
    background-image: url(/img/logo.jpeg);
    background-position: center center;
    background-size: 100% 100%;
    border-radius: 29px;
    margin-top: -24px;
    margin-left: -94px;
}

#inborder {
    border: 6px solid #2F2E41;
    text-align: center;
    padding: 20px 21px 19px 21px;
    justify-content: center;
    align-items: center;
}

#b {
    text-align: center;
}
.right{
    margin-left: 4px;
}
.ph {
    width: 252px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.68px;
    color: white;
    border-radius: 28.5px;
    background: #2F2E41;
    box-shadow: 0px 10px 40px 0px rgba(122, 129, 190, 0.16);
    padding: 4px 0px 4px 10px; 
    position: relative;
    padding-right: 3px;
   
}

.img{
    position: absolute;
    left: 14px;
}

.navbar{
    background-color:#2F2E41;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.navbar p{
    border-radius: 28.5px;
    background: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(122, 129, 190, 0.16);
    text-align: center;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.52px;
    padding: 4px 39px;
}

.button{
    margin-left: 80px;
    margin-top: 50px; /* Adjust the top margin to create space */
    text-align: center;
}
button{
    color: white;
    border-radius: 28.5px;
    background: #323146;
    box-shadow: 0px 10px 40px 0px rgba(122, 129, 190, 0.16);
    padding: 10px 47px; /* Increase top and bottom padding for more space */
    position: relative;
    margin-bottom: 20px; 
}

.bottom{
    margin-top: 85px; 
    margin-bottom: 20px;
}

.define {
    margin: auto;
    display: inline-flex;
    padding: 35px 127px 35px 37px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    border-radius: 25px;
    background: #2F2E41;
    width: 350px;
    margin-left: 85px;
}
.define li {
    color: #FFF;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 2px;
}

.application{
    background: #2F2E41;
    text-align: center;
    margin: 0 2px;
    padding: 50px;
    border-radius: 20px;
    height: 200px;
}
.application h4{
    color: #FFF;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 2px;
}


@media (max-width: 768px) {
    .bt {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left {
        margin: auto;
    }
    .define {
        margin-left: 0px;
    }
    #form{
        width: 100%;
        padding: 20px;
    }
    .button {
        margin-left: 0px;
    }
    .it{
        width: 290px;
    }
    
    .is{
        width: 130px;
    }
}

@media(max-width: 500px){
    .it{
        width: 220px;
    }
    
    .is{
        width: 120px;
    }
    
}