body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    margin: 0;
}
.upper{
    margin-bottom: 2rem;
}
.heading {
    text-align: center;
    font-size: 2rem;
}
.left{
    display: flex;
    justify-content: center;
}
.left img {
   max-width: 15.75rem;
    height: 10.62rem;
    border-radius: 29px;
    margin-top: 50px;
}

.middle {
    margin-top: 20px;
    text-align: center;
}

#inborder {
    border: 6px solid #2F2E41;
    text-align: center;
    padding: 20px 21px 19px 21px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.right {
    margin-top: 35px;
}

.ph,.log {
    width: 252px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.68px;
    color: white;
    border-radius: 28.5px;
    background: #2F2E41;
    box-shadow: 0px 10px 40px 0px rgba(122, 129, 190, 0.16);
    padding: 4px 0px 4px 10px;
    position: relative;
    padding-right: 3px;
    margin: auto;
}
.ph{
    margin-top: 30px;
}


.img {
    position: absolute;
    left: 14px;
}

.mid {
    background-color: #2F2E41;
    width: 100%;  
}
.nav-bar{
      background-color: #2F2E41;
    display: flex;
    justify-content: center; 
    padding: 5px;  
}
.nav-link
{   display: flex;
    justify-content: center;
    border-radius: 28.5px;
    background: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(122, 129, 190, 0.16);
    text-align: center;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.52px;
    padding: 4px 39px;
    color: #000000;
    margin: 5px;
}
.bottom{
    margin-top: 85px; 
}
.define {
    margin: auto;
    display: inline-flex;
    padding: 35px 127px 35px 37px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    border-radius: 25px;
    background: #2F2E41;
    width: 350px;
    margin-left: 85px;
}
.define li {
    color: #FFF;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 2px;
}
.application{
    background: #2F2E41;
    text-align: center;
    margin: 0 2px;
    padding: 50px;
    border-radius: 20px;
    height: 200px;
}
.application h4{
    color: #FFF;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 2px;
}
.btn {
    color: white;
    border-radius: 28.5px;
    background: #323146;
    box-shadow: 0px 10px 40px 0px rgba(122, 129, 190, 0.16);
    position: relative;
    margin-bottom: 30px;
    margin: auto;
}

.l {
    margin-left: 4px;
}

@media (max-width: 768px) {
    .bt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .define {
        margin: auto;
    }
}
